
 /*=======================================

 *** DETAIL PRODUCT PAGE STYLES ***

 =========================================*/

 $text-grey-color: #8F9092;

 .navbar-banner {
 	height: 100px;
 }

 .container {
 	& a {
 		color: $color-blue;
 	}

 	& .title {
 		& h1 {
 			color: $color-black;
 			font-size: 2.5rem;
 			padding-top: 2rem;
 			font-weight: 600;
 			padding-bottom: 1rem;
 			text-transform: uppercase;
 		}
 	}

 	& .jumbotron-info,
 	& .jumbotron-desc,
 	& .jumbotron-bid-proposal {
 		@include border-radius(0);
 		background-color: $color-card-bg;
 		@include box-shadow(2px, 2px, 17px, 1px, rgba(226, 226, 226, 1));
 	}

 	& .jumbotron-info {
 		color: $color-blue; 		
 		& .border-right-info {
 			border-right: 2px solid rgb(215, 215, 215) !important;
 			margin-top: 36px;
 			height: 43px;
 		}

 		& h3 {
 			padding-bottom: 5px;
 		}

 		& p {
 			padding-top: 0;
 			padding-bottom: 0;
 			font-size: 16px;
 			margin-bottom: 2px;
 			margin-top: -20px;
 			font-weight: 500;
 			color: $color-black;
 		}

 		& i {
 			font-style: normal;
 			font-size: 25px;
 		}

 		& .price {
 			padding-top: 43px;
 			padding-bottom: 3px;
 		}

 		& .blue-text {
 			& p {
 				color: $color-blue;
 				margin-top: 0;
 			}
 			& h3 {
 				padding-right: 42px;
 			}
 		}
 	}

 	& .jumbotron-desc {
 		& h1,
 		& p {
 			padding-left: 1rem;
 		}

 		& .detail-project-btn {
 			margin-left: 1rem;
 			width: 210px;
 			height: 49px;
 			margin-bottom: 3rem;
 			font-size: 1.3rem;
 		}

 		& h1 {
 			color: $color-black;
 			padding-top: 2.5rem;
 			padding-bottom: 0.5rem;
 			font-weight: 600;
 			font-size: 2.1rem;
 		}

 		& p { 			
 			color: $color-black;
 			margin-bottom: 0.8rem; 			
 		}

 		& .desc-skills-title {
 			padding-top: 1.6rem;
 		}

 		& .desc-text-blue {
 			color: $color-blue;
 			font-size: 1.08rem;
 			padding-bottom: 0.3rem;
 		}
 	}

 	& .jumbotron-bid-proposal {
 		color: $text-grey-color;

 		& p {
 			padding-left: 1rem;
 			font-size: 1.08rem;
 		}

 		& .desc-and-btn {
 			& .jumbotron-bid-desc {
 				background-color: lighten($color-blue, 16%);
 				color: $color-black;
 				border: 1px solid $color-grey;
 			}

 			.no-of-bids-btn {
 				width: 238px;
 				height: 50px;
 				font-size: 1.2rem;
 			}
 		}

 		& .rate-row {
 			& h1 {
 				color: $color-black;
 				font-size: 1.3rem;
 				padding-left: 1rem;
 			}


 			& .rate-row-form input[type='number'] {
 				padding: 6.2px;
 				font-size: 17px;
 				border: 0;
 				float: left;
 				width: 48%;
 				background: lighten($color-grey, 32%); 				
 			}

 			@include placeholder($color-black);
 			
 			& .rate-row-form input:focus {
 				outline: 0;
 			}

 			& .btn-rate-row {
 				float: left;
 				width: 52%;
 				padding: 10px;
 				cursor: pointer;
 				@include border-radius(0);
 				border-top-right-radius: 2px;
 				border-bottom-right-radius: 2px;
 				line-height: 1;
 				font-size: 1.08rem;

 				&:hover{
 					background: darken($color-blue, 8%);
 				}
 			}

 		}

 		& .price-row {
 			& p {
 				margin-bottom: .3rem;
 			}

 			& .btn-qstn-mark {
 				width: 0;
 				height: 0;
 				padding: 0;
 				background: transparent;
 				border: transparent;

 				& i {
 					color: $color-blue;
 					font-size: 1rem;
 				}
 			}
 			
 			& .right-side-price {
 				& p {
 					color: $color-black;

 					& i {
 						font-style: normal;
 						font-size: 1rem;
 					}
 				}
 			}
 		}

 		& p.note-p {
 			margin-top: 1rem;
 		}

 		& .blue-text {
 			color: $color-blue;
 			font-weight: normal;
 		}

 		& .btn-place-bid-row {
 			& .place-bid-btn,
 			& a {
 				font-size: 1.3rem;
 			}
 		}

 	}
 }

 /*question mark popover*/
 .popover {
 	background: $color-card-bg;
 	margin-left: 1.6rem;
 	margin-top: 0.7rem;	
 }

 .bs-popover-auto[x-placement^=right] .arrow::after, 
 .bs-popover-right .arrow::after {
 	border-right-color: $color-card-bg; 	
 }

 .popover-body {
 	color: $text-grey-color;
 	font-size: .9rem;
 	letter-spacing: 0.6px;
 }


 input[type=number].rate-row-number-hr::-webkit-inner-spin-button,
 input[type=number].rate-row-number-hr::-webkit-outer-spin-button,
 input[type=number].rate-row-number-week::-webkit-inner-spin-button,
 input[type=number].rate-row-number-week::-webkit-outer-spin-button { 
 	@include appearance(none);
 	margin: 0; 
 }