/*=======================================

 *** FOOTER STYLES ***

=========================================*/

@import '_mixins.scss'; 

$color-footer1 : #D7D7D7;
$color-footer2 : #EBEBEB;

.footer1 {
	padding: 2rem 6rem;
	background: rgba(10, 6, 23, 1);
	& h1 {
		font-size: 20px;
		text-transform: uppercase;
		color: $color-footer1;
	}

	& .onclickbiz-colm {
		& h1 {
			color: $color-blue;
			font-size: 35px;
		}

		& p {
			color: $color-footer1;
		}

		& i {
			color: $color-blue;
			font-size: 23px;
			padding: 2px;
		}
	}

	& .latest-ad-colm {
		& img {
			padding-top: 5px;
			width: 100%;
			height: auto;
			display: block;
		}
	}

	& .help-colm {
		& .links-row {
			padding-top: 1rem;
		}

		& p {
			color: $color-footer1;

			&:hover{
				color: $color-blue;
			}
		}
	}

	& .subscribe-colm {
		& .subscribe-colm-row {

			& h2 {
				color: $color-footer1;
				font-size: 14px;
				padding-top: 10px;
			}

			& .email-sub-section-five {
				padding-top: 5px;

				& .search-input {
					width: 16rem !important;
					height: 37px;
				}

				& .btn-home-search {
					border-bottom-left-radius: 0;
					border-top-left-radius: 0;
					height: 37px;
				}
			}

		}
	}
	
}

.footer2 {
	/*padding: 1rem;*/
	text-align: center;
	background: rgba(10, 6, 23, 1);
	color: $color-footer2;

	& a {
		color: $color-blue;
	}

	& .text {
		margin: auto;
	}

	& .icons {
		color: $color-blue;
		font-size: 23px;
	}
}