/*=======================================

 *** HEADER STYLES ***

 =========================================*/

 @import '_mixins.scss';

 body {
 	font-family: $font-primary;
 	font-size: 15px;
 	line-height: 1.6;
 	font-weight: 400;
 	color: $color-grey;
 	background: $color-white;
 }



 .home-header-logo {
 	width: 102px;
 	height: auto;
 }

 .onclick-navbar-toggler {
 	background-color: $color-white;
 }

 .onclick-navbar {
 	position: absolute;
 	width: 100%;
 	padding: 0;
 	margin: 0;
 	z-index: 111;
 	@include flex(); 	
 	justify-content: center;
 	align-items: center;

 	/*distance between logo and links*/
 	& .onclick-navbar-collapse {
 		left: 45px; 
 	}

 	/*styles for dropdown*/
 	& .dropdown:hover .dropdown-menu {
 		display: block;  
 	}

 	& .dropdown .dropdown-item {
 		padding-top: 6px;
 		padding-bottom: 6px;
 		margin-bottom: 2px;
 		font-size: 14px !important;
 		color: $color-grey;
 	}

 	& .dropdown .dropdown-item:focus, 
 	& .dropdown .dropdown-item:hover, 
 	& .dropdown .dropdown-item.active {
 		color: $color-white !important;
 		background-color: $color-blue;
 		outline: 0;
 		margin-bottom: 2px;
 		@include border-radius(3px);
 		padding-top: 6px;
 		padding-bottom: 6px;
 	}

 	& .dropdown .dropdown-menu {
 		padding: 10px;
 	}

 	& .dropdown:hover .dropdown-menu {
 		display: block;
 		position: absolute;
 		top: 100%;
 		@include animationFadeIn(0.4s);
 		background: $color-white;
 		text-align: left;
 		margin-top: -1px;
 	}

 	/*display triangle in dropdown block*/
 	& .dropdown-menu:before {
 		width: 0; 
 		height: 0; 
 		content: " ";
 		position: absolute;
 		top: -8px;
 		left: 31px;
 		border-left: 10px solid transparent;
 		border-right: 10px solid transparent;
 		border-bottom: 8px solid #fff;
 	}

 	/*remove triangle from dropdown list*/
 	& .onclick-dropdown-toggle::after {
 		display: none;
 	}


 	/*header links style*/
 	& .onclick-navbar-nav .nav-item {

 		&.nav-link {
 			color: #fff;
 		}

 		& .nav-link {
 			font-size: 14px;
 			font-weight: 400; 
 			color: #fff !important;   
 			text-align: center;
 			padding-left: 20px !important;
 			padding-right: 20px !important;
 			letter-spacing: 1px;
 			text-transform: uppercase;    
 			@include transitionEaseInOut(.3s);
 			padding-bottom: 20px !important;
 		}

 		& .nav-link:hover,  
 		& .nav-link:focus {
 			color: $color-blue !important;
 		}

 		&.active {
 			background-color: $color-blue;
 			margin-top: 2px;
 			height: 37px;
 			@include border-radius(3px);
 			line-height: 20px;

 			& a:hover,
 			& a:active,
 			& a:focus  {
 				color: $color-white !important;
 			}
 		}
 	}

 }

 /*my account link styles*/
 .my-acc-nav-item {
 	margin-left: 7px; 
 	position: relative;
 	width: 143px;
 	line-height: 0px;
 	margin-left: 19px;
 	margin-right: 13px;

 	& a {
 		background-color: $color-white;
 		color: $color-blue !important;
 		@include border-radius(3px);
 		line-height: 0rem;
 		padding-top: 18px;
 		margin-top: 1px;
 		text-transform: none !important;
 	}

 	& .my-acc-dropdown-menu .dropdown-item {
 		font-size: 14px;
 		padding: 17px 18px 17px 23px !important;
 	}
 }

 /*post job button*/
 $header-button-height: 39px;
 $header-button-width: 127px;
 $header-button-line-height: 21px;
 $header-btn-size: 14px;

 .btn-post-job {
 	height: $header-button-height;
 	width: $header-button-width;
 	line-height: $header-button-line-height;
 	background: $color-blue;
 	color: $color-white;
 	border: 2px solid $color-blue;
 	text-align: center;
 	font-size: $header-btn-size;
 	@include border-radius(3px);
 	box-shadow: 0 0 0 !important;	

 	&:hover, &:focus, &:active {
 		background: lighten($color-blue, 10%)!important;
 		border-color: lighten($color-blue, 10%)!important;
 	}
 }


 /*banner*/
 .home-banner {
 	background: url(../img/home/home-banner-2.png);
 	background-repeat: no-repeat;
 	background-size: cover;
 	height: 550px;
 	position: relative;	
 	width: 100%;
 	& .overlay {
 		position: absolute;
 		background: rgba(10, 6, 23, 0.7);
 		width: 100%;
 		height: 100%;
 	}

 	& h1 {
 		color: $color-white;
 		font-size: 50px;
 		letter-spacing: 1px;
 		font-weight: 600;
 		padding-top: 65px;

 		& b {
 			color: $color-blue;
 		}
 	}

 	& h2 {
 		color: $color-white;
 		font-size: 22px;
 		letter-spacing: 2px;
 		padding-top: 5px;
 		padding-bottom: 10px;
 	}
 }

 .search-btn-colm {
 	@include flex();
 	justify-content: center;
 	align-items: center;
 }

 .form-control:focus {
 	box-shadow: 0 0 0;
 	border: 1px solid $color-grey !important;
 }

 .search-input {
 	@include border-radius(3px);
 	border: 0;
 	width: 18rem !important;
 	height: 45px;
 }

 .btn-home-search {
 	height: 45px;
 	font-size: 16px;
 	text-transform: uppercase;

 	& i {
 		font-size: 13px;
 		padding-right: 5px;
 	}
 }
