
/*=======================================

 *** MIXINS ***

=========================================*/


$font-primary: 'Work Sans', sans-serif;

/*Overrides*/
$screen-sm: 500px;
$screen-xs: 500px;

$color-white: #fff;
$color-blue: #34A8DD;
$color-black: #000;
$color-grey: #9A9899;
$color-section-bg: #F9F9F9;

/*mixins*/

@mixin appearance($val) {
	-webkit-appearance: $val;
	-moz-appearance: $val;
	appearance: $val;
}

@mixin transformScale($transform) {
	-moz-transform:    scale($transform);
	-o-transform:      scale($transform);
	-webkit-transform: scale($transform);
	-ms-transform:     scale($transform);
	transform:         scale($transform);
}

@mixin transition($transition) {
	-moz-transition:    all $transition ease;
	-o-transition:      all $transition ease;
	-webkit-transition: all $transition ease;
	-ms-transition:     all $transition ease;
	transition:         all $transition ease;
}

@mixin transitionEaseInOut($transition) {
	-moz-transition:    all $transition ease-in-out;
	-o-transition:      all $transition ease-in-out;
	-webkit-transition: all $transition ease-in-out;
	-ms-transition:     all $transition ease-in-out;
	transition:         all $transition ease-in-out;
}

@mixin animationFadeIn($fadeIn) {
	animation: fadeIn $fadeIn;
	-webkit-animation: fadeIn $fadeIn;
	-moz-animation: fadeIn $fadeIn;
	-o-animation: fadeIn $fadeIn;
	-ms-animation: fadeIn $fadeIn;
}

@mixin border-radius($radius) {
	-webkit-border-radius: $radius;
	-moz-border-radius: $radius;
	-ms-border-radius: $radius;
	border-radius: $radius;
}

@mixin flex() {
	display: -webkit-box;      
	display: -moz-box;         
	display: -ms-flexbox;      
	display: -webkit-flex;     
	display: flex;             
}
