/*=======================================

 *** POST FREE JOB PAGE STYLES ***

=========================================*/


@import '_mixins.scss';

$label-text-color: #272727;

.post-free-job-card-body {
	& label {
		color: $label-text-color;
		font-size: 15px;		
	}
	
	& .service-name-label,
	& .job-location-label,
	& .job-mobile-num-label {
		margin-left: -11px !important;

		@media(max-width: 410px)
		{
			& {
				margin-left: 0 !important;
			}
		}
	}

	& .fa-free-job-search {
		top: 55px !important;
		font-size: 14px !important;

		@media(max-width: 410px) {

			& {
				top: 20px !important;
			}
		}
	}

	& .fa-job-location {
		top: 53px !important;
		font-size: 15px !important;
	}

	& .fa-job-mobile {
		top: 52px !important;
		font-size: 15px !important;
	}

	& #select-budget {
		font-size: 14px;
	}

	& .post-free-job-btn {
		margin-top: 0 !important;
		font-size: 16px;
		width: 150px;
	}

	.form-control {
		height: 2.5rem;
	}

	& .form-control#job-post-address  {
		height: 5rem;
	}

	& .form-control-file {
		opacity: 0;
	}

	& .upload-job-button {
		width: 105px;
		height: 35px;
	}

	& p {
		margin-top: -23px;
		font-size: 14px;
	}

	& .fa-job-upload-plus {
		top: 6px !important;
		left: 19px !important;
		font-size: 9px !important;
	}
}



input[type='text']#forms-service-name,
input[type='text']#forms-location {
	padding-left: 39px;
	vertical-align: center;	
	font-size: 14px;
}

textarea {	
	font-size: 14px !important;
}

