/*=======================================

 *** SEARCH JOB PAGE STYLES ***

 =========================================*/

 @import '_mixins.scss';

 .search-job-banner {
 	height: 350px;

 	& h1 {
 		padding-top: 6rem;
 		color: $color-white;
 	}

 	& h2 {
 		color: $color-white;
 	}

 	/*line and dot*/

 	& .line-dot-colm {
 		@include flex();
 		justify-content: center;
 	}

 	& hr {
 		background-color: $color-white;
 		width: 250px;
 		position: relative;

 		&.hr-1 {
 			left: 23px;
 		}
 		&.hr-2 {
 			right: 42px;
 		}
 	}

 	& i.fa-circle {
 		color: $color-blue;
 		position: absolute;
 		z-index: 11;

 		&.fa-circle-1 {
 			right: 485px;
 			top: 9px;
 		}	
 		&.fa-circle-2 {
 			left: 249px;
 			top: 9px;
 		}
 		&.fa-circle-3 {
 			left: 466px;
 			top: 8px;
 		}
 	}

 	/*end line and dot*/

 	& p {
 		font-size: 14px;
 		color: #fff;
 		position: absolute;

 		&.line-dot-title-1 {
 			left: 411px;
 			bottom: 40px;
 		}
 		&.line-dot-title-2 {
 			left: 619px;
 			bottom: 39px;
 		}
 		&.line-dot-title-3 {
 			left: 873px;
 			bottom: 40px;
 		}		
 	}
 }


 .search-job-container {

 	& .jumbotron {

 		background-color: rgb(248,248,252);

 		& h1 {
 			color: $color-black;
 			font-size: 2.5rem;
 			font-weight: 500;
 		}

 		& p.lead {
 			font-size: 1.3rem;
 		}

 		& p.example {
 			text-align: left;
 			font-size: 0.8rem;
 			padding-left: 130px;
 			padding-top: 10px;
 		}

 		& .search-page-form {
 			@include flex();
 			justify-content: center;
 		}

 		& .search-input-search-page {
 			position: absolute;
 			width: 67%;
 		}

 		& .search-btn-search-page {
 			border: 0;
 			color: $color-blue;
 			background-color: transparent;
 			width: 30px;

 			position: relative;
 			left: 33%;

 			&:hover {
 				background-color: transparent !important;
 				color: darken($color-blue, 6%) !important;
 			}

 			& i {
 				font-size: 1.5rem;
 			}
 		}


 	}
 }

 input[type='search'].search-input-search-page {
 	vertical-align: center;
 	font-size: 1rem;	
 	background-color: #EBE9EE !important;
 }
